body	{
	background-color: #201f32;
	font-family: helvetica;
	margin: 0px;
	font-size: calc(0.7em + 0.3vw);
}

h1	{
	font-size: calc(40px + 2vw);
	margin-left: 1.58%;
}

h2	{
	font-size: calc(14px + 0.5vw);
	margin-left: 1.58%;
}

h3

a:hover, a:visited, a:link, a:active	{
    text-decoration: none;
    color: black;
}

footer	{
	position: fixed;
	width: 100%;
	text-align: center;
	background-color: rgba(0, 0, 0, 0.2);
	bottom: 0px;
	color: rgba(255, 255, 255, 0.7);
	font-family: georgia;
	z-index: 4;
}

/*Mobile integration*/

/*@media screen and (min-resolution: 190dpi)*/
@media screen and (max-width: 800px)	{
	.page_header	{
		box-sizing: border-box;
		position: fixed; top: 0px; left: 0px;
		margin: 0;
		padding: 3vh;
		width: 100vw; height: 10vh;
		background-color: rgba(255, 255, 255, 0.7);
		z-index: 3;
	}
	.logo	{
		height: 100%;
		background-image: url("images/connor_logo_hor.png");
		background-size: contain;
		background-repeat: no-repeat;
	}
	#connor_logo	{
		display: none;
		
	}
	.portfolio_wrapper	{
		width: calc(98vw - 28px);
		margin: 14vh calc(2vw + 17px) 60px 2vw;
		background-color: rgba(255, 255, 255, 0.35);
	}
	.side_bar	{
		position: fixed; top: 0px; right: 0px;
		box-sizing: border-box;
		margin: 0;
		padding: 3vh 6vw 3vh 4vw;
		width: calc(100vw - 6vh - calc(4vh * 450 / 86)); height: 10vh;
		z-index: 4;
		box-sizing: border-box;
	}
	#side_bar_links	{
		display: block;
		float: right;
		padding: 0;
		margin: 0;
		width: auto; height: 4vh;
	}
	.instagram_container	{
		height: 4vh;
	}
	#instagram	{
		height: 100%;
		margin: 0;
	}
	#contact	{
		position: relative;
		display: inline-block;
		font-size: 3vh;
		color: black;
		text-decoration: none;
		margin: 0.5vh 0 0.5vh 0;
		float: right;
		line-height: 3vh;
	}
	.side_bar_divider	{
		display: inline-block;
		padding-right: 1vw;
		margin: 0;
		height: 100%; 
	}

}

/*Mobile flexibility sans scrollbar*/

@media screen and (max-width: 450px)	{
	.portfolio_wrapper	{
		width: 96vw;
		margin: 14vh 2vw 60px 2vw;
		background-color: rgba(255, 255, 255, 0.35);
	}
}

/*End of mobile*/
/*End of mobile*/
/*End of mobile*/

.link {
	color: black;
	text-decoration: none;
}



.page_wrapper	{
}

@media screen and (min-width: 801px)	{

.page_header	{
	position: fixed; top: 1vh
}

.logo	{
	position: fixed; top: 3vh; left: 3vh;
	margin: 0;
	width: 9%;
	background-color: rgba(255, 255, 255, 0.35);
}

#connor_logo	{
	width: 80%;
	margin: 10%;
}

.portfolio_wrapper	{
	width: 66%;
	margin-left: 19%; margin-top: 3vh; margin-bottom: 60px;
	background-color: rgba(255, 255, 255, 0.35);
}
}

.main_heading	{
	padding: 2%;
}

.heading_prefix	{
	margin: 0px;
	font-size: calc(20px + 0.5vw);
}


.page_heading	{
	margin: 0px;
}

.page_subheading	{
	margin: 0px;
	margin-bottom: 3%;
	font-style: italic;
	font-family: georgia;
	font-weight: normal;
}

#change_viewing_type	{
	display: inline-block;
	float: right;
	margin: 0px;
	color: black;
	text-decoration: none;
	font-weight: bold;
	font-size: calc(12px + 0.5vw);
}

.section_container	{
	display: inline-block; clear: both;
	position: relative;
	text-align: center;
	justify-content: center;
	box-sizing: border-box;
	width: 96%;
	margin: 2%;
	padding: 1%;
	background-color: rgba(255, 255, 255, 0.35);
}

.section_heading	{
	position: absolute; top: 50%; left: 50%;
	transform: translate(-50%, -50%);
	height: 24%; width: auto;
	padding: 1%;
	z-index: 2;
	background-color: rgba(255, 255, 255, 0.35);
}

.blog_tile_photo	{
	position: relative;
	width: 30%;
	margin: 1%;
	
}

@media screen and (min-width: 801px)	{

	.side_bar	{
		position: fixed; right: 2vw; top: 0px;
		width: calc(40px + 2vw); height: 100vh;
		background-color: rgba(255, 255, 255, 0.35);
	}

	#side_bar_links	{
		position: fixed; bottom: 6vh; right: 2vw;
		width: calc(40px + 2vw);
	}

	#instagram	{
		position: relative;
		margin: 25%; 
		width: 50%;
	}
	#contact	{
		position: relative;
		margin-top: 80px;
		transform: rotate(-90deg);
		font-size: 24px;
		color: black;
		text-decoration: none;
	}
}

#email	{
	font-family: georgia;
	text-align: left;
	margin: 60px 30px 60px 1%;
}


/*Sort by Date Specific*/

.tile_container	{
	position: relative;
	display: inline-block;
	width: 30%;
	margin: 1%;
}

.date_tile_photo	{
	position: relative;
	width: 100%;
	margin: 0px;
}

.tile_caption	{
	display: block;
	float: left;
	text-align: left;
	font-family: georgia;
	font-weight: normal;
	margin: 0px;
}

.tile_date	{
	display: block;
	float: right;
	text-align: right;
	font-family: georgia;
	font-weight: normal;
	font-style: italic;
	margin: 0px;
}

/*Page specific CSS*/

.page_content_container	{
	text-align: left;
}