	<!-- Sidebar -->
	<div class="side_bar">
		<div id="side_bar_links">
			<div class="side_bar_divider">
				<a href="https://www.instagram.com/connorfoster7/" target="_blank" />
					<div class="instagram_container">
						<img id="instagram" src="images/instagram_link.png" />
					</div>
				</a>
			</div>
			<div class="side_bar_divider">
				<a href="contact.html">
					<h1 id="contact">CONTACT</h1>
				</a>
			</div>
		</div>
	</div>
	<!-- End Sidebar -->

***ADD "../" FOR PAGES IN SUB DIRECTORIES***